{% extends "base.html" %}
{% load static %}

{% block styles %}{% static 'registration/css/login.css' %}{% endblock %}


{% block main %}
    <div class="container main__div-center">
        <div class="main__login">
            {% if form.errors %}
                <span style="color: red; font-weight: bold">Пароль или имя пользователя введены неверно!</span>
            {% endif %}

            {% if user.is_authenticated %}
                <p class="header__profile__bio">Вы уже вошли в свой аккаунт!</p>
                <a href="{% url 'index' %}" class="main__login__text-white">Нажмите для возвращения на главную</a>
            {% else %}
                <form style="margin-top: 15px" method="post" action="{% url 'login' %}">
                    <h2 style="margin-bottom: 20px">Вход</h2>
                    {% csrf_token %}
                    {% for field in form %}
                        <dt>{{ field.label_tag }}</dt>
                        <dd class="">{{ field }}
                        {% if field.help_text %}<div class="">{{ field.help_text }}</div>{% endif %}
                        {% if field.errors %}<div class="">{{ field.errors }}</div>{% endif %}
                        </dd>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <br>
                <a style="font-weight: bold; text-decoration: none" href="#">Забыли пароль?</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
