{% extends 'base.html' %}

{% block main %}
    <form class="container" method="post">
        {% csrf_token %}

        <br>
        <h2>Введите новый пароль</h2>
        <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
        <br>
        {% include 'forms/form_field_password.html' with label=form.new_password1.label name=form.new_password1.name errors=form.new_password1.errors help_text=form.new_password1.help_text %}
        {% include 'forms/form_field_password.html' with label=form.new_password2.label name=form.new_password2.name errors=form.new_password2.errors help_text=form.new_password2.help_text %}
        <button style="margin-top: 40px" type="submit" class="btn btn-primary">Изменить мой пароль</button>
    </form>
{% endblock %}