{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container">
        <h2 style="margin-bottom: 30px; margin-top: 15px">Восстановление пароля</h2>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% with "300px" as width %}
                    {% include 'forms/form_field_email.html' with label=field.label name=field.name help_text=field.help_text errors=field.errors %}
                {% endwith %}
            {% endfor %}
            <button style="margin-top: 40px" type="submit" class="btn btn-primary">Восстановить мой пароль</button>
        </form>
    </div>
{% endblock %}