{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h2 style="margin-bottom: 30px; margin-top: 15px">Восстановление пароля</h2>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <label style="margin-bottom: 10px; font-weight: bold">{{ field.label }}:<br><input class="form-control" type="email" name="{{ field.name }}" autocomplete="email" maxlength="254" required id="id_{{ field.name }}"></label><br>
                {% if field.help_text %}
                    <div class="">{{ field.help_text }}</div>{% endif %}
                {% if field.errors %}
                    <div class="">{{ field.errors }}</div>{% endif %}
            {% endfor %}
            <button style="margin-top: 25px" type="submit" class="btn btn-primary">Восстановить мой пароль</button>
        </form>
    </div>
{% endblock %}