{% extends 'base.html' %}

{% load static %}


{% block main %}
    <div class="container-xl">
        <form class="main__form" action="" method="get">
            <label for="search">Найти заметку</label>
            <input type="search" class="form-control" name="search" id="search" value="{{ search }}" autocomplete="off"
                   placeholder="Текст или заголовок" style="width: 200px; margin: 0 10px">
            {% if section %}
                <input type="hidden" name="section" value="{{ section }}">
            {% endif %}
            <input type="hidden" name="page" value="{{ page }}">
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
        <div class="container main">
            <div class="row">
                {% for note in notes %}
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        {% include 'notes/note.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="paginator">
        {% if paginator.num_pages > 1 %}
                <div class="btn-group">
                    {% for number in paginator.page_range %}
                        <a href="?page={{ number }}"
                           class="btn btn-primary{% if number == notes.number %} active disabled{% endif %}">
                            {{ number }}
                        </a>
                    {% endfor %}
                </div>
        {% endif %}
        </div>
    </div>
{% endblock %}