<div>
    <label for="id_{{ name }}" class="form-label">{{ label }}:</label>
    <div{% if width %} style="width: {{ width }}"{% endif %}>
        <input class="form-control" type="password" name="{{ name }}" maxlength="{% if maxlength %}{{ maxlength }}{% else %}150{% endif %}" required id="id_{{ name }}{% if readonly %} readonly{% endif %}">
    </div>
    {% if help_text %}
        <div id="id_{{ name }}" class="form-text">{{ help_text }}</div>{% endif %}
    {% if errors %}
        <div style="color: red" id="id_{{ name }}" class="form-text">{{ errors }}</div>{% endif %}
</div>