{% extends 'base.html' %}
{% load static %}

{% block extra-styles %}{% static 'css/accounts/account.css' %}{% endblock %}

{% block main %}
    <div class="container">
        <h2 style="margin-top: 25px">Профиль</h2>
        <br>
        <div class="row">
            {% if user == accountuser %}
                {% include 'forms/form_field_text.html' with label='Имя пользователя' name='username' value=accountuser.username classes='col-sm-6' readonly=True %}
                {% include 'forms/form_field_email.html' with label='Email' name='email' value=accountuser.email classes='col-sm-6' readonly=True %}
            {% else %}
                {% include 'forms/form_field_text.html' with label='Имя пользователя' name='username' value=accountuser.username readonly=True %}
            {% endif %}
        </div>
        <br>
        <div class="row">
            {% with 'col-sm-6' as classes %}
                {% include 'forms/form_field_text.html' with label='Имя' name='first_name' value=accountuser.first_name readonly=True %}
                {% include 'forms/form_field_text.html' with label='Фамилия' name='last_name' value=accountuser.last_name readonly=True %}
            {% endwith %}
        </div>
        <br>

        {% if accountuser == user %}
            <div class="main__form" style="margin-top: 30px">
                <a href="{% url 'change-account' %}" class="btn btn-primary" style="margin-right: 10px;">Редактировать</a>
                <a href="{% url 'password_change' %}" class="btn btn-danger">Сменить пароль</a>
            </div>
        {% endif %}
    </div>
{% endblock %}