{% extends 'base.html' %}
{% load static %}
{% block extra-styles %}{% static 'css/django-registration/create-account.css' %}{% endblock %}

{% block main %}
    <form method="post" class="container create__form">
        <h2 style="margin-bottom: 20px">Регистрация</h2>
        {% csrf_token %}
        {% for field in form %}
            <dt>{{ field.label_tag }}</dt>
            <dd class="">{{ field }}
            {% if field.help_text %}<div class="">{{ field.help_text }}</div>{% endif %}
            {% if field.errors %}<div class="">{{ field.errors }}</div>{% endif %}
            </dd>
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Зарегистрироваться</button>
    </form>
{% endblock %}